extends layout

block content
  h1 #{user.firstName} (#{user.birthName}) (#{user.lastName})
  h2 Documents (#{user.documents})

  each document in user.documents
    h3 #{documents.name}
    //- if photo.likedBy.length == 0
    //-   p no likes yet!
    //- else
    //-   p #{photo.likedBy.map(user => user.name).join(', ')}
